h1{
    color: #8360A3;
    text-align: center;
}
.box{
    width: 50%;
    height: 50%;
}
header{
    background-color: white;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*nav{
    display:flex;
    flex-direction: row;
    justify-items: center;
}*/
header div a{
    color: #222;
    text-align: center;
}